@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f5f9; /* Светлый фон, чтобы карточки выделялись */
  margin: 0;
  font-family: sans-serif;
}
:root {
  color-scheme: light; /* Принудительно светлая тема для игры */
}

#root {
  color: #1e293b; /* Основной цвет текста — темно-синий/серый */
}